
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# debug
# dependencies
# env files (can opt-in for committing if needed)
# local runtime backups
# misc
# next.js
# production
# testing
# typescript
# vercel
*.pem
*.tsbuildinfo
.DS_Store
.env*
.pnp.*
.pnpm-debug.log*
.vercel
.yarn/*
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
/src/generated/prisma
backups/
next-env.d.ts
next.log
npm-debug.log*
realtime.log
yarn-debug.log*
yarn-error.log*
